<launch>

    <arg name="maps_path" value="$(find arebot_navigation)/maps" />
    <arg name="map_name" />
    
    <!-- convert pbstream to ros map -->
    <node pkg="cartographer_ros" type="cartographer_pbstream_to_ros_map" name="cartographer_pbstream_to_ros_map"
        args="-map_filestem=$(arg maps_path)/$(arg map_name) 
            -pbstream_filename=$(arg maps_path)/$(arg map_name).pbstream 
            -resolution=0.05">
    </node>
</launch>