<launch>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">
        
        <param name = "path" value = "/home/huzife/arebot_ws/src/path_plan/path_plan/path.txt"/>
        <param name = "planner_frequency" value = "0.0"/>
        <param name="base_global_planner" value="path_planner/GlobalPlanner"/>
        <rosparam file="$(find path_plan)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find path_plan)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find path_plan)/param/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find path_plan)/param/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find path_plan)/param/base_local_planner_params.yaml" command="load" />
        <rosparam file="$(find path_plan)/param/global_planner_params.yaml" command="load" />
        <rosparam file="$(find path_plan)/param/dwa_params.yaml" command="load" />
    </node>

</launch>
