{
  "registerserver":"registry.mcurobot.com:47002",
  "agenturi":"http://127.0.0.1:4657",
  "agentbaseport":9990,
  "entity":{
    "role":"robot",	
    "id":"23059876", 
    "certificate":"-----BEGIN CERTIFICATE-----\nMIIBcTCCARagAwIBAgIIbLMKtBTpi1AwCgYIKoZIzj0EAwIwFjEUMBIGA1UEAxML\nbWN1cm9ib3QgQ0EwHhcNMjAwNDI2MTM1NTAwWhcNMzAwNDI2MTM1NDAwWjATMREw\nDwYDVQQDEwgyMzA1OTg3NjBZMBMGByqGSM49AgEGCCqGSM49AwEHA0IABAHli2gA\nqAbkLtXYWXCai6er6SJumoV+ZJF31Z6+L+BAtLTJAv4yFvmNsAP/q1uWmXFOETf1\nrGqcqEHuxauR51OjUTBPMAwGA1UdEwEB/wQCMAAwHQYDVR0OBBYEFJ0mo+1n7kAa\nG746VhYf3f0fN+qaMAsGA1UdDwQEAwIDuDATBgNVHSUEDDAKBggrBgEFBQcDAjAK\nBggqhkjOPQQDAgNJADBGAiEAm4qHAAy9KT5BhNz8sI6nDKNIlgp3KVMqNub4RZk/\n0a8CIQCv9BBhKaCqD6bAhSwBYwf4uzZ1q3lkmTu4KvjD0ICmXw==\n-----END CERTIFICATE-----",
    "key":"-----BEGIN EC PRIVATE KEY-----\nMHcCAQEEILB+uDqLXqhFtF5sW811iGwxisyrvY/L3tbj5kcLeNLsoAoGCCqGSM49\nAwEHoUQDQgAEAeWLaACoBuQu1dhZcJqLp6vpIm6ahX5kkXfVnr4v4EC0tMkC/jIW\n+Y2wA/+rW5aZcU4RN/WsapyoQe7Fq5HnUw==\n-----END EC PRIVATE KEY-----"	
  },
  "extracacertificates":[
    "-----BEGIN CERTIFICATE-----\nMIIBYDCCAQegAwIBAgIIc3DCxlDrwHAwCgYIKoZIzj0EAwIwFjEUMBIGA1UEAxML\nbWN1cm9ib3QgQ0EwHhcNMjAwNDI2MTM1NDAwWhcNMzAwNDI2MTM1NDAwWjAWMRQw\nEgYDVQQDEwttY3Vyb2JvdCBDQTBZMBMGByqGSM49AgEGCCqGSM49AwEHA0IABO6F\nULZ/FboncaHPDXPNYHTQgZDWbd+/lV+0JdQpeC5seplUutnI3tGqiV5aWmtfhVuW\nkwfcY4yGvLr2kOCB1z6jPzA9MA8GA1UdEwEB/wQFMAMBAf8wHQYDVR0OBBYEFPC8\nwAEgguCG7/37harX6QyfsZRzMAsGA1UdDwQEAwIBBjAKBggqhkjOPQQDAgNHADBE\nAiA6XL3amE5iUSZ6m9XzI1lKR35qVERTx/yjbQue+BxjoQIgRVaEjLvXy966UUY/\nEKBzUorww6Ti8So3800NaB/iEOs=\n-----END CERTIFICATE-----"
  ],
  "authorizedclients":[	
    "1OjsQIYA/1Dq1yvSN+7ELgIf5hBPH75n09GgrlKnM14="
  ],
  "waitconnect":5,
  "adminport":"4659"	
}
