<launch>
  <arg name="websocket_port" default="9090" />
  <arg name="video_device" default="/dev/video10" />

  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" required="true">
    <param name="video_device" value="$(arg video_device)" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
  </node>
  
  <!-- BEGIN rosbridge_weboskcet -->
  <arg name="topics_glob" default="[*]" />
  <arg name="services_glob" default="[*]" />
  <arg name="params_glob" default="[*]" />
  <node name="rosbridge_websocket" pkg="rosbridge_server" type="rosbridge_websocket" required="true" >
      <param name="authenticate" value="false" />
      <param name="port" value="$(arg websocket_port)" />
      <param name="address" value="0.0.0.0" />
      <param name="retry_startup_delay" value="5" />
      <param name="fragment_timeout" value="600" />
      <param name="delay_between_messages" value="0" />
      <param name="max_message_size" value="None" />
      <param name="unregister_timeout" value="10" />
      <param name="use_compression" value="false" />

      <param name="websocket_ping_interval" value="0"  />
      <param name="websocket_ping_timeout" value="30"  />
      <param name="websocket_external_port" value="None"  />

      <param name="topics_glob" value="$(arg topics_glob)"/>
      <param name="services_glob" value="$(arg services_glob)"/>
      <param name="params_glob" value="$(arg params_glob)"/>

      <param name="bson_only_mode" value="false"/>
  </node>
  <node name="rosapi" pkg="rosapi" type="rosapi_node" required="true" >
    <param name="topics_glob" value="$(arg topics_glob)"/>
    <param name="services_glob" value="$(arg services_glob)"/>
    <param name="params_glob" value="$(arg params_glob)"/>
  </node>
  <!-- END rosbridge_weboskcet -->
  
  <node name="robot_service_server" pkg="arebot_service" type="server.py" output="screen" required="true" >
  </node>
</launch>

