<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Constants for sonar param -->
  <xacro:range_sonar_gazebo 
    name="sonar_1" 
    ros_topic="sonar_1" 
    update_rate="15.0" 
    min_angle="-0.25" 
    max_angle="0.25"
    min_range="0.01" 
    max_range="2.00" />

  <xacro:macro name="range_sonar_gazebo" params="name ros_topic update_rate min_angle max_angle min_range max_range">
    <gazebo reference="${name}">
      <material value="Gazebo/Green" />
      <sensor type="ray" name="${name}">
        <always_on>true</always_on>
        <update_rate>${update_rate}</update_rate>
        <visualize>true</visualize>
        <ray>
          <scan>
            <horizontal>
              <samples>5</samples>
              <resolution>0.5</resolution>
              <min_angle>${min_angle}</min_angle>
              <max_angle>${max_angle}</max_angle>
            </horizontal>
            <vertical>
              <samples>5</samples>
              <resolution>0.5</resolution>
              <min_angle>-0.03</min_angle>
              <max_angle>0.03</max_angle>
            </vertical>
          </scan>
          <range>
            <min>${min_range}</min>
            <max>${max_range}</max>
            <resolution>0.01</resolution>
          </range>
        </ray>
        <plugin name="gazebo_ros_${name}_controller" filename="libgazebo_ros_range.so">
          <gaussianNoise>0.005</gaussianNoise>
          <alwaysOn>true</alwaysOn>
          <updateRate>${update_rate}</updateRate>
          <topicName>${ros_topic}</topicName>
          <frameName>${name}</frameName>
          <radiation>ultrasound</radiation>
          <fov>0.26</fov>
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>
