<launch>
  <arg name="websocket_port" default="9090" />
  <arg name="video_device" default="/dev/video10" />
  
  <include file="$(find robot_service)/launch/robot_service.launch" >
    <arg name="video_device" value="$(arg video_device)" />
  </include>
  
  <node name="goAgent" pkg="mrobot" type="goAgent" cwd="node" output="screen" required="true" />
  <node name="webConnCtl_robot" pkg="mrobot" type="webConnCtl_robot" cwd="node" output="screen" required="true" />

</launch>
